* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  background-image: radial-gradient(#7E9AB6, 1px, transparent 0);
  background-size: 40px 40px;
  color: #212121;
  line-height: 1.5;
  padding: 30px;
}

#search-box {
  font: inherit;
  padding: 8px;
  width: 40vw;
  margin-bottom: 16px;
}

#search-box:hover,
#search-box:focus{
  outline: 1px solid blue;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.country-info{
  font-size: 20px;
}

.flag{
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.country-name{
  font-size: 40px;
  font-weight: 700;
}

.item{
  display: flex;
  align-items: center;
}

.item .country-name{
  font-size: 20px;
  font-weight: 500;
}

.item .flag{
  height: 20px;
  margin-right: 10px;
}